.block__wrapper--how_video {
  display: flex;
  margin: 0 auto;
  border-radius: 46px;
  z-index: 9;
  position: relative;
  max-width: 860px;
  width: 100%;
  height: auto;
}
.block__wrapper--how_blockimage {
  padding-top: 0;
}