.medical-popup-small__wrapper {
  position: fixed;
  top: 50%;
  left: 0;
  //transform: translateX(44%);
}

.medical-popup-small__content {
  transform: rotate(270deg) translateX(-50%);
  transform-origin: top left;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 50px;
  background-color: #0068D7;
  padding: 10px 20px;
  position: absolute;
  left: 10px;
}

.medical-popup-small__btn {
  padding: 5px 25px;
  max-width: 145px;
  background-color: #04367C;
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.medical-popup-small__text {
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  white-space: nowrap;
}

.medical-popup-small__close {
  position: absolute;
  right: 0px;
  top: -5px;
  background-color: white;
  border-radius: 1rem;
  padding: 4px;
  line-height: 0;
  cursor: pointer;
  border: 1px solid #565E71;
}

@media (max-width: 768px) {
  .medical-popup-small__wrapper {
    top: initial;
    bottom: 20px;
    width: 100vw;
    padding: 0 20px;
  }
  .medical-popup-small__content {
    transform: initial;
    transform-origin: initial;
    position: relative;
    width: 100%;
    flex-direction: column;
    border-radius: 30px;
    left: 0;
    padding: 13px 6px 6px;
    align-items: stretch;
    gap: 10px;
  }
  .medical-popup-small__text {
    text-align: center;
  }
  .medical-popup-small__btn {
    max-width: initial;
    padding: 8px 15px;
  }
}