@import url("../../assets/fonts/Manrope/manrope.css");
.actions-section {
    padding: 0 4%;
}
.descr {
    margin: 128px 0 128px 0;

    @media screen and (max-width: 1580px) {
        margin: 32px 0 92px 0;
    }

    @media screen and (max-width: 1024px) {
        margin: 92px 0 92px 0;
    }

    @media screen and (max-width: 360px) {
        margin: 92px 0 64px 0;
    }
}
.action__block--container {
    padding: 0 4%;
}
//actions
.actions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .title {
            &__text {
                font-family: "Manrope";
                font-style: normal;
                font-weight: 200;
                font-size: 64px;
                line-height: 110%;
                text-align: center;
                color: #ffffff;
                margin-bottom: 64px;
                b {
                    font-weight: 700;
                }

                @media screen and (max-width: 1580px) {
                    font-size: 48px;
                    margin-bottom: 32px;
                }

                @media screen and (max-width: 360px) {
                    font-size: 32px;
                }
            }

            &__description {
                font-family: "Manrope";
                font-style: normal;
                font-weight: 200;
                font-size: 48px;
                line-height: 150%;
                text-align: center;
                color: #ffffff;

                @media screen and (max-width: 1580px) {
                    font-size: 32px;
                }

                @media screen and (max-width: 360px) {
                    font-size: 24px;
                }

                .inline_icon {
                    display: inline-block;

                    @media (max-width: 1580px) {
                        vertical-align: middle;
                        margin-bottom: 3px;
                    }
                    @media (max-width: 1024px) {
                        width: 28px;
                        transform: translateY(-2px);
                    }
                    @media (max-width: 360px) {
                        width: 18px;
                        transform: translateY(0px);
                    }
                }
            }
        }
    }

    &__graph {
        width: 100vw;
        margin-top: 300px;
        height: 18.69vw;
        position: relative;
        .graph {
            &__image-top {
                position: relative;
                width: 100vw;
                height: 18.69vw;
            }
            &__image-bottom {
                position: relative;
                width: 100vw;
                height: 18.69vw;
                transform: translateY(-80%);
            }
            &__item {
                position: absolute;
                transform: translateX(-6%);
                padding-left: 1%;

                width: 17.81%;

                display: flex;
                visibility: hidden;
                flex-direction: column;
                align-items: left;
                justify-content: left;
                text-align: left;

                font-family: "Manrope";
                font-style: normal;
                font-weight: 700;
                line-height: 150%;
            }

            &__time {
                text-align: left;
                font-family: "Manrope";
                font-style: normal;
                font-weight: 700;
                line-height: 150%;
                font-weight: 700;
                font-size: 32px;
                color: #47faff;
                margin-bottom: 8px;

                @media screen and (max-width: 1580px) {
                    font-size: 24px;
                }

                &--violet {
                    color: #ad84ff;
                }
            }

            &__text {
                font-family: "Manrope";
                font-style: normal;
                font-weight: 700;
                line-height: 150%;
                font-size: 24px;
                color: #ffffff;

                @media screen and (max-width: 1580px) {
                    font-size: 16px;
                }

                b {
                    color: #ad84ff;
                }
            }

            &__pointer {
                height: 179px;
                width: fit-content;
                transform: translateX(-34%);

                &--accent {
                    height: 192px;
                }
            }
        }
    }
}

#first {
    bottom: 63.28%;
    // bottom: 50.28%;
    left: 13.4%;
}

#second {
    bottom: 88%;
    left: 32.56%;
}

#third {
    bottom: 62%;
    // bottom: 69%;
    left: 51.3%;
}

#fourth {
    bottom: 20%;
    // bottom: 27%;
    left: 70.7%;
}

//Мелатонин обладает уникальным влиянием на организм человека

.works {
    @media (max-width: 1024px) {
        padding: 0 4%;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: stretch;
        justify-content: space-between;

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            row-gap: 8vw;
        }
        @media (max-width: 500px) {
            grid-template-columns: repeat(1, 1fr);
            row-gap: 32px;
            width: 80vw;
        }
    }

    &__item {
        max-width: 342px;

        @media screen and (max-width: 1580px) {
            max-width: 302px;
            place-self: center;
        }

        @media screen and (max-width: 1280px) {
            max-width: 262px;
        }

        @media screen and (max-width: 360px) {
            max-width: 328px;
        }

        & + & {
            margin-left: 24px;
            @media (max-width: 1439px) {
                margin-left: 0px;
            }
        }

        .item {
            &__image-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-bottom: 32px;

                &::after {
                    content: "";
                    width: 100%;
                    height: 2px;
                    background: linear-gradient(
                        90deg,
                        rgba(255, 255, 255, 0) 2.08%,
                        #ffffff 49.72%,
                        rgba(255, 255, 255, 0) 100%
                    );
                    margin-top: 32px;
                }
            }
        }

        img {
            width: 100%;
            height: 100%;
            max-width: 144px;
            max-height: 144px;

            @media screen and (max-width: 1580px) {
                max-width: 92px;
                max-height: 92px;
            }
        }
    }

    &__text {
        font-family: "Manrope";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 150%;
        text-align: center;
        color: #ffffff;

        @media screen and (max-width: 1580px) {
            font-size: 16px;
        }
    }
}

@keyframes showline {
    0% {
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes showBlocks {
    0% {
        visibility: visible;
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    }
    100% {
        visibility: visible;
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }
}

.actions__graph__mobile {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .graph {
        &__item {
            display: grid;
            grid-template-columns: 18vw 1fr;
            gap: 24px;

            text-align: left;
            font-family: "Manrope";
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
        }
        &__time {
            text-align: left;
            font-family: "Manrope";
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
            font-weight: 700;
            font-size: 32px;
            color: #47faff;
            margin-bottom: 8px;

            @media screen and (max-width: 768px) {
                font-size: 24px;
            }

            &--violet {
                color: #ad84ff;
            }
        }
        &__text {
            font-family: "Manrope";
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
            font-size: 24px;
            color: #ffffff;

            @media screen and (max-width: 768px) {
                font-size: 16px;
            }

            b {
                color: #ad84ff;
            }
        }
        &__pointer {
            width: 170px;
            // transform: translateX(min(80px, calc(-100% + 90px)));
            @media (max-width: 808px) {
                transform: translateX(-4vw);
            }
            @media (max-width: 656px) {
                transform: translateX(-8vw);
            }
            @media (max-width: 540px) {
                transform: translateX(-12vw);
            }
            @media (max-width: 476px) {
                transform: translateX(-16vw);
            }
            @media (max-width: 424px) {
                transform: translateX(-19vw);
            }
            @media (max-width: 388px) {
                transform: translateX(-22vw);
            }
            @media (max-width: 320px) {
                transform: translateX(-29vw);
            }
        }
    }
}

@media (max-width: 500px) {
  .actions__title .title__text {
    font-size: 32px;
  }

  .actions__title .title__description {
    font-size: 24px;
  }

  .actions__title .title__description .inline_icon {
    width: 20px;
  }

  .descr {
    margin-bottom: 32px;
  }

  .works__item .item__image-wrapper::after {
    margin: 16px;
  }

  .works__item .item__image-wrapper {
    margin-bottom: 0;
  }

  .how__item .item__image-wrapper::after {
    margin-top: 8px;
  }
}
